/* This file is for your main application css. */

@import './variables';
@import "~bulma/bulma";
@import url('https://fonts.googleapis.com/css?family=Fascinate|Open+Sans&display=swap');

body {
  font-family: 'Open Sans', 'sans-serif';
}

.session {
  background-color: $primary;
  height: 100vh;
}

.logo {
  font-family: Fascinate;
  font-size: 2.0em;
}