<div class="container">
  <div class="columns">
    <div class="column is-half  is-offset-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            <span class="logo">capra</span>
          </p>
        </header>
        <div class="card-content">
          <div class="content">

            <%= CapraWeb.LayoutView.danger_flash(@conn) %>
            <%= CapraWeb.LayoutView.info_flash(@conn) %>


            <%= form_for @changeset, @action, [as: :user], fn f -> %>
            <%= if @changeset.action do %>
            <div class="alert alert-danger">
              <p>Oops, something went wrong! Please check the errors below.</p>
            </div>
            <% end %>

            <div class="field">
              <%= label f, gettext("Email"), class: "label" %>
              <div class="control">
                <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset), class: "input"%>
              </div>
              <p class="help is-danger"><%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %></p>

            </div>

            <div class="field">
              <%= label f, gettext("Password"), class: "label" %>
              <div class="control">
                <%= password_input f, :password, class: "input" %>
              </div>
              <p class="help is-danger"> <%= error_tag f, :password %> </p>
            </div>

            <div class="field">
              <div class="control">
                <%= submit gettext("Sign in"), class: "button is-link" %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
